<!DOCTYPE html>
<html
  lang="fa"
  dir="rtl"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="/stylesheets/chat.css"
    />
    <link
      rel="stylesheet"
      href="/stylesheets/bootstrap.rtl.min.css"
    />
    <link
      rel="stylesheet"
      href="/stylesheets/animate.css"
    />
    <title>Chat</title>
  </head>
  <body>
    <main class="main chats-main">
      <section class="chat-container col-lg-9">
        <header>
          <a
            href="chatList.html"
            class="return-btn"
          >
            <i
              class="bi bi-arrow-left-circle-fill fs-4 text-white fw-bold"
            ></i>
          </a>
          <div
            class="header-container d-flex justify-content-between align-items-center"
          >
            <div
              class="d-flex justify-content-start align-items-center"
            >
              <h3 class="fw-bold text-white">سمیه مولایی</h3>
              <div
                class="user-status ms-2 rounded-circle bg-danger"
              ></div>
            </div>
            <div>
              <a
                href="videoCall.html"
                class="btn videocall-btn d-flex justify-content-center align-items-center"
                ><i
                  class="bi me-1 d-flex h-100 bi-camera-video-fill"
                ></i
                ><span class="d-none d-md-none d-lg-inline-block">
                  تماس تصویری</span
                ></a
              >
            </div>
          </div>
        </header>
        <section class="chat-list">
          <!--chat background-->
          <div class="chat-background"></div>
          <div class="chat-transmiter-container">
            <div class="chat-transmiter">
              <div
                class="d-flex justify-content-start align-items-center px-2 mb-1"
              >
                <img
                  class="rounded-circle me-2"
                  width="20px"
                  height="20px"
                  src="/images/user-img.webp"
                  alt=""
                />
                <small class="text-secondary mx-2">شما</small>
                <a
                  class="rounded-circle bg-success me-2 edit-user"
                  id="editBtn"
                  ><i class="bi bi-pencil d-flex text-white"></i
                ></a>
                <div
                  class="justify-content-start align-items-center editing-div animate__animated animate__bounceInRight"
                  id="editDiv"
                >
                  <a
                    class="mx-1 text-decoration-none px-2 me-2 rounded-pill"
                    id="msgEdit"
                    href="#"
                    >اصلاح</a
                  >
                  <a
                    class="mx-1 text-decoration-none px-2 mx-2 rounded-pill"
                    id="msgComment"
                    href="#"
                    >ارسال نظر</a
                  >
                  <button
                    class="btn-close"
                    id="editClose"
                    style="font-size: 10px"
                  ></button>
                </div>
              </div>
              <div
                class="d-flex justify-content-start align-items-start flex-nowrap px-2 my-1"
              >
                <span
                  ><i class="bi bi-check-all d-flex fs-5"></i
                ></span>
                <p
                  class="message-text ms-2 mb-0"
                  id="yourMsg"
                >
                  Lorem ipsum dolor sit amet consectetur adipisicing
                  elit. Delectus dolore error suscipit quam deleniti
                  aperiam nisi tenetur doloremque! Nisi, laborum?
                </p>
              </div>
              <div
                class="d-flex justify-content-start align-items-center px-2 mt-1"
              >
                <small class="dateTime-text text-secondary me-2"
                  >05/11</small
                >
                <small class="dateTime-text text-secondary"
                  >06:13</small
                >
              </div>
            </div>
            <div
              class="commented-text p-1"
              id="commented"
            ></div>
          </div>
          <div class="chat-reciever-container">
            <div class="chat-reciever">
              <div
                class="d-flex justify-content-end align-items-center mb-1"
              >
                <a
                  href="#"
                  class="text-secondary reciever-name text-decoration-none mx-2"
                  >سمیه مولایی</a
                >
                <img
                  class="rounded-circle"
                  width="20px"
                  height="20px"
                  src="/images/user-img.webp"
                  alt=""
                />
              </div>
              <div
                class="d-flex justify-content-start align-items-center px-2 my-1"
              >
                <p class="message-text ms-2 mb-0">سلام</p>
              </div>
              <div
                class="d-flex justify-content-end align-items-center px-2 mt-1"
              >
                <small class="dateTime-text text-secondary"
                  >05/11</small
                >
                <small class="dateTime-text text-secondary ms-2"
                  >06:13</small
                >
              </div>
            </div>
          </div>
          <div class="chat-transmiter-container">
            <div class="chat-transmiter">
              <div
                class="d-flex justify-content-start align-items-start flex-nowrap px-2 mb-1"
              >
                <img
                  class="rounded-circle me-2"
                  width="20px"
                  height="20px"
                  src="/images/user-img.webp"
                  alt=""
                />
                <small class="text-secondary mx-2">شما</small>
                <a
                  class="rounded-circle bg-success me-2 edit-user"
                  id="editBtn"
                  ><i class="bi bi-pencil d-flex text-white"></i
                ></a>
                <div
                  class="justify-content-start align-items-center editing-div animate__animated animate__bounceInRight"
                  id="editDiv"
                >
                  <a
                    class="mx-1 text-decoration-none px-2 me-2 rounded-pill"
                    id="msgEdit"
                    href="#"
                    >اصلاح</a
                  >
                  <a
                    class="mx-1 text-decoration-none px-2 mx-2 rounded-pill"
                    id="msgComment"
                    href="#"
                    >ارسال نظر</a
                  >
                  <button
                    class="btn-close"
                    id="editClose"
                    style="font-size: 10px"
                  ></button>
                </div>
              </div>
              <div
                class="d-flex justify-content-start align-items-center px-2 my-1"
              >
                <span
                  ><i class="bi bi-check-all d-flex fs-5"></i
                ></span>
                <p
                  class="message-text ms-2 mb-0"
                  id="yourMsg"
                >
                  سلام
                </p>
              </div>
              <div
                class="d-flex justify-content-start align-items-center px-2 mt-1"
              >
                <small class="dateTime-text text-secondary me-2"
                  >05/11</small
                >
                <small class="dateTime-text text-secondary"
                  >06:13</small
                >
              </div>
            </div>
            <div
              class="commented-text p-1"
              id="commented"
            ></div>
          </div>
          <div class="chat-reciever-container">
            <div class="chat-reciever">
              <div
                class="d-flex justify-content-end align-items-center mb-1"
              >
                <a
                  href="#"
                  class="text-secondary reciever-name text-decoration-none mx-2"
                  >سمیه مولایی</a
                >
                <img
                  class="rounded-circle"
                  width="20px"
                  height="20px"
                  src="/images/user-img.webp"
                  alt=""
                />
              </div>
              <div
                class="d-flex justify-content-start align-items-center px-2 my-1"
              >
                <p class="message-text ms-2 mb-0">سلام</p>
              </div>
              <div
                class="d-flex justify-content-end align-items-center px-2 mt-1"
              >
                <small class="dateTime-text text-secondary"
                  >05/11</small
                >
                <small class="dateTime-text text-secondary ms-2"
                  >06:13</small
                >
              </div>
            </div>
          </div>
          <div class="chat-transmiter-container">
            <div class="chat-transmiter">
              <div
                class="d-flex justify-content-start align-items-start flex-nowrap px-2 mb-1"
              >
                <img
                  class="rounded-circle me-2"
                  width="20px"
                  height="20px"
                  src="/images/user-img.webp"
                  alt=""
                />
                <small class="text-secondary mx-2">شما</small>
                <a
                  class="rounded-circle bg-success me-2 edit-user"
                  id="editBtn"
                  ><i class="bi bi-pencil d-flex text-white"></i
                ></a>
                <div
                  class="justify-content-start align-items-center editing-div animate__animated animate__bounceInRight"
                  id="editDiv"
                >
                  <a
                    class="mx-1 text-decoration-none px-2 me-2 rounded-pill"
                    id="msgEdit"
                    href="#"
                    >اصلاح</a
                  >
                  <a
                    class="mx-1 text-decoration-none px-2 mx-2 rounded-pill"
                    id="msgComment"
                    href="#"
                    >ارسال نظر</a
                  >
                  <button
                    class="btn-close"
                    id="editClose"
                    style="font-size: 10px"
                  ></button>
                </div>
              </div>
              <div
                class="d-flex justify-content-start align-items-center px-2 my-1"
              >
                <span
                  ><i class="bi bi-check-all d-flex fs-5"></i
                ></span>
                <p
                  class="message-text ms-2 mb-0"
                  id="yourMsg"
                >
                  سلام
                </p>
              </div>
              <div
                class="d-flex justify-content-start align-items-center px-2 mt-1"
              >
                <small class="dateTime-text text-secondary me-2"
                  >05/11</small
                >
                <small class="dateTime-text text-secondary"
                  >06:13</small
                >
              </div>
            </div>
            <div
              class="commented-text p-1"
              id="commented"
            ></div>
          </div>
          <div class="chat-reciever-container">
            <div class="chat-reciever">
              <div
                class="d-flex justify-content-end align-items-center mb-1"
              >
                <a
                  href="#"
                  class="text-secondary reciever-name text-decoration-none mx-2"
                  >سمیه مولایی</a
                >
                <img
                  class="rounded-circle"
                  width="20px"
                  height="20px"
                  src="/images/user-img.webp"
                  alt=""
                />
              </div>
              <div
                class="d-flex justify-content-start align-items-center px-2 my-1"
              >
                <p class="message-text ms-2 mb-0">سلام</p>
              </div>
              <div
                class="d-flex justify-content-end align-items-center px-2 mt-1"
              >
                <small class="dateTime-text text-secondary"
                  >05/11</small
                >
                <small class="dateTime-text text-secondary ms-2"
                  >06:13</small
                >
              </div>
            </div>
          </div>
          <div class="chat-transmiter-container">
            <div class="chat-transmiter">
              <div
                class="d-flex justify-content-start align-items-start flex-nowrap px-2 mb-1"
              >
                <img
                  class="rounded-circle me-2"
                  width="20px"
                  height="20px"
                  src="/images/user-img.webp"
                  alt=""
                />
                <small class="text-secondary mx-2">شما</small>
                <a
                  class="rounded-circle bg-success me-2 edit-user"
                  id="editBtn"
                  ><i class="bi bi-pencil d-flex text-white"></i
                ></a>
                <div
                  class="justify-content-start align-items-center editing-div animate__animated animate__bounceInRight"
                  id="editDiv"
                >
                  <a
                    class="mx-1 text-decoration-none px-2 me-2 rounded-pill"
                    id="msgEdit"
                    href="#"
                    >اصلاح</a
                  >
                  <a
                    class="mx-1 text-decoration-none px-2 mx-2 rounded-pill"
                    id="msgComment"
                    href="#"
                    >ارسال نظر</a
                  >
                  <button
                    class="btn-close"
                    id="editClose"
                    style="font-size: 10px"
                  ></button>
                </div>
              </div>
              <div
                class="d-flex justify-content-start align-items-center px-2 my-1"
              >
                <span
                  ><i class="bi bi-check-all d-flex fs-5"></i
                ></span>
                <p
                  class="message-text ms-2 mb-0"
                  id="yourMsg"
                >
                  سلام
                </p>
              </div>
              <div
                class="d-flex justify-content-start align-items-center px-2 mt-1"
              >
                <small class="dateTime-text text-secondary me-2"
                  >05/11</small
                >
                <small class="dateTime-text text-secondary"
                  >06:13</small
                >
              </div>
            </div>
            <div
              class="commented-text p-1"
              id="commented"
            ></div>
          </div>
          <div class="chat-reciever-container">
            <div class="chat-reciever">
              <div
                class="d-flex justify-content-end align-items-center mb-1"
              >
                <a
                  href="#"
                  class="text-secondary reciever-name text-decoration-none mx-2"
                  >سمیه مولایی</a
                >
                <img
                  class="rounded-circle"
                  width="20px"
                  height="20px"
                  src="/images/user-img.webp"
                  alt=""
                />
              </div>
              <div
                class="d-flex justify-content-start align-items-center px-2 my-1"
              >
                <p class="message-text ms-2 mb-0">سلام</p>
              </div>
              <div
                class="d-flex justify-content-end align-items-center px-2 mt-1"
              >
                <small class="dateTime-text text-secondary"
                  >05/11</small
                >
                <small class="dateTime-text text-secondary ms-2"
                  >06:13</small
                >
              </div>
            </div>
          </div>
          <div class="chat-transmiter-container">
            <div class="chat-transmiter">
              <div
                class="d-flex justify-content-start align-items-start flex-nowrap px-2 mb-1"
              >
                <img
                  class="rounded-circle me-2"
                  width="20px"
                  height="20px"
                  src="/images/user-img.webp"
                  alt=""
                />
                <small class="text-secondary mx-2">شما</small>
                <a
                  class="rounded-circle bg-success me-2 edit-user"
                  id="editBtn"
                  ><i class="bi bi-pencil d-flex text-white"></i
                ></a>
                <div
                  class="justify-content-start align-items-center editing-div animate__animated animate__bounceInRight"
                  id="editDiv"
                >
                  <a
                    class="mx-1 text-decoration-none px-2 me-2 rounded-pill"
                    id="msgEdit"
                    href="#"
                    >اصلاح</a
                  >
                  <a
                    class="mx-1 text-decoration-none px-2 mx-2 rounded-pill"
                    id="msgComment"
                    href="#"
                    >ارسال نظر</a
                  >
                  <button
                    class="btn-close"
                    id="editClose"
                    style="font-size: 10px"
                  ></button>
                </div>
              </div>
              <div
                class="d-flex justify-content-start align-items-center px-2 my-1"
              >
                <span
                  ><i class="bi bi-check-all d-flex fs-5"></i
                ></span>
                <p
                  class="message-text ms-2 mb-0"
                  id="yourMsg"
                >
                  سلام
                </p>
              </div>
              <div
                class="d-flex justify-content-start align-items-center px-2 mt-1"
              >
                <small class="dateTime-text text-secondary me-2"
                  >05/11</small
                >
                <small class="dateTime-text text-secondary"
                  >06:13</small
                >
              </div>
            </div>
            <div
              class="commented-text p-1"
              id="commented"
            ></div>
          </div>
          <div class="chat-reciever-container">
            <div class="chat-reciever">
              <div
                class="d-flex justify-content-end align-items-center mb-1"
              >
                <a
                  href="#"
                  class="text-secondary reciever-name text-decoration-none mx-2"
                  >سمیه مولایی</a
                >
                <img
                  class="rounded-circle"
                  width="20px"
                  height="20px"
                  src="/images/user-img.webp"
                  alt=""
                />
              </div>
              <div
                class="d-flex justify-content-start align-items-center px-2 my-1"
              >
                <p class="message-text ms-2 mb-0">سلام</p>
              </div>
              <div
                class="d-flex justify-content-end align-items-center px-2 mt-1"
              >
                <small class="dateTime-text text-secondary"
                  >05/11</small
                >
                <small class="dateTime-text text-secondary ms-2"
                  >06:13</small
                >
              </div>
            </div>
          </div>
        </section>
        <div
          id="editingMsg"
          class="editing-msg w-100 px-3 py-2 pb-4 align-items-start animate__animated animate__bounceInUp"
        >
          <button
            id="editingMsgClose"
            class="btn btn-close mb-3"
            style="font-size: 12px"
          ></button>
          <div
            class="d-flex w-100 justify-content-between align-items-center"
          >
            <div
              class="d-flex col-lg-6 my-2 px-lg-2 flex-column align-items-start"
            >
              <label>پیام شما</label>
              <input
                class="form-control mt-2 rounded-pill py-2"
                type="text"
                value="hello"
                id="userMsgDefault"
                disabled
              />
            </div>
            <div
              class="d-flex col-lg-6 my-2 px-lg-2 flex-column align-items-start"
            >
              <label>ویرایش پیام</label>
              <input
                class="form-control mt-2 rounded-pill py-2"
                id="userEditedMsg"
                type="text"
              />
            </div>
          </div>
          <div class="w-100 text-center mt-3">
            <button
              class="w-25 btn edit-submit"
              id="editSubmit"
            >
              تائید
            </button>
          </div>
        </div>
        <div
          id="commentMsg"
          class="comment-msg w-100 px-3 py-2 pb-4 align-items-start animate__animated animate__bounceInUp"
        >
          <button
            id="commentMsgClose"
            class="btn btn-close mb-3"
            style="font-size: 12px"
          ></button>
          <div
            class="d-flex w-100 justify-content-center align-items-center"
          >
            <label style="width: 100px">متن کامنت</label>
            <input
              class="form-control mt-2 rounded-pill py-2"
              type="text"
              id="cmntText"
            />
          </div>
          <div class="w-100 text-center mt-3">
            <button
              class="w-25 btn edit-submit"
              id="commentSubmit"
            >
              تائید
            </button>
          </div>
        </div>

        <section
          class="message-send-box w-100 d-flex justify-content-center align-items-center"
        >
          <div
            class="sending-container d-flex justify-content-center align-items-center"
          >
            <input
              type="text"
              class="form-control me-2"
              placeholder="پیام ..."
            />
            <button class="btn message-send-btn mx-2">ارسال</button>
            <button
              class="btn notclicked btn-danger rounded-circle ms-2 d-flex justify-content-center align-items-center"
              style="width: 38px; height: 38px"
              id="microphoneBtn"
            >
              <i class="bi bi-mic-fill d-flex first-btn"></i>
              <i class="bi bi-soundwave d-flex second-btn"></i>
            </button>
          </div>
        </section>
      </section>
      <section class="chats-show desktop-chat col-lg-3">
        <h1
          style="vertical-align: middle"
          class="chats-list-head mb-0 fw-bold d-flex justify-content-end align-items-center p-2 text-white"
        >
          Chats
        </h1>
        <ul
          class="chats-list d-flex flex-column justify-content-start align-items-end"
        >
          <li class="text-end p-2 w-100 border-bottom">
            <a
              class="chats-list-link w-100 d-flex flex-row-reverse justify-content-start align-items-center"
              href="#"
            >
              <div class="user-img mx-">
                <img
                  src="/images/user-img.webp"
                  alt=""
                />
                <div class="user-status-div"></div>
              </div>
              <div class="user-msg mx-3">
                <div class="user-name">Test</div>
                <div class="user-message text-secondary">
                  Lorem ipsum
                </div>
                <small class="msg-time-passed text-secondary"
                  >20 minutes ago</small
                >
              </div>
            </a>
          </li>
          <li class="text-end p-2 w-100 border-bottom">
            <a
              class="chats-list-link w-100 d-flex flex-row-reverse justify-content-start align-items-center"
              href="#"
            >
              <div class="user-img mx-">
                <img
                  src="/images/user-img.webp"
                  alt=""
                />
                <div class="user-status-div"></div>
              </div>
              <div class="user-msg mx-3">
                <div class="user-name">Test</div>
                <div class="user-message text-secondary">
                  Lorem ipsum
                </div>
                <small class="msg-time-passed text-secondary"
                  >20 minutes ago</small
                >
              </div>
            </a>
          </li>
          <li class="text-end p-2 w-100 border-bottom">
            <a
              class="chats-list-link w-100 d-flex flex-row-reverse justify-content-start align-items-center"
              href="#"
            >
              <div class="user-img mx-">
                <img
                  src="/images/user-img.webp"
                  alt=""
                />
                <div class="user-status-div"></div>
              </div>
              <div class="user-msg mx-3">
                <div class="user-name">Test</div>
                <div class="user-message text-secondary">
                  Lorem ipsum
                </div>
                <small class="msg-time-passed text-secondary"
                  >20 minutes ago</small
                >
              </div>
            </a>
          </li>
          <li class="text-end p-2 w-100 border-bottom">
            <a
              class="chats-list-link w-100 d-flex flex-row-reverse justify-content-start align-items-center"
              href="#"
            >
              <div class="user-img mx-">
                <img
                  src="/images/user-img.webp"
                  alt=""
                />
                <div class="user-status-div"></div>
              </div>
              <div class="user-msg mx-3">
                <div class="user-name">Test</div>
                <div class="user-message text-secondary">
                  Lorem ipsum
                </div>
                <small class="msg-time-passed text-secondary"
                  >20 minutes ago</small
                >
              </div>
            </a>
          </li>
          <li class="text-end p-2 w-100 border-bottom">
            <a
              class="chats-list-link w-100 d-flex flex-row-reverse justify-content-start align-items-center"
              href="#"
            >
              <div class="user-img mx-">
                <img
                  src="/images/user-img.webp"
                  alt=""
                />
                <div class="user-status-div"></div>
              </div>
              <div class="user-msg mx-3">
                <div class="user-name">Test</div>
                <div class="user-message text-secondary">
                  Lorem ipsum
                </div>
                <small class="msg-time-passed text-secondary"
                  >20 minutes ago</small
                >
              </div>
            </a>
          </li>
          <li class="text-end p-2 w-100 border-bottom">
            <a
              class="chats-list-link w-100 d-flex flex-row-reverse justify-content-start align-items-center"
              href="#"
            >
              <div class="user-img mx-">
                <img
                  src="/images/user-img.webp"
                  alt=""
                />
                <div class="user-status-div"></div>
              </div>
              <div class="user-msg mx-3">
                <div class="user-name">Test</div>
                <div class="user-message text-secondary">
                  Lorem ipsum
                </div>
                <small class="msg-time-passed text-secondary"
                  >20 minutes ago</small
                >
              </div>
            </a>
          </li>
          <li class="text-end p-2 w-100 border-bottom">
            <a
              class="chats-list-link w-100 d-flex flex-row-reverse justify-content-start align-items-center"
              href="#"
            >
              <div class="user-img mx-">
                <img
                  src="/images/user-img.webp"
                  alt=""
                />
                <div class="user-status-div"></div>
              </div>
              <div class="user-msg mx-3">
                <div class="user-name">Test</div>
                <div class="user-message text-secondary">
                  Lorem ipsum
                </div>
                <small class="msg-time-passed text-secondary"
                  >20 minutes ago</small
                >
              </div>
            </a>
          </li>
          <li class="text-end p-2 w-100 border-bottom">
            <a
              class="chats-list-link w-100 d-flex flex-row-reverse justify-content-start align-items-center"
              href="#"
            >
              <div class="user-img mx-">
                <img
                  src="/images/user-img.webp"
                  alt=""
                />
                <div class="user-status-div"></div>
              </div>
              <div class="user-msg mx-3">
                <div class="user-name">Test</div>
                <div class="user-message text-secondary">
                  Lorem ipsum
                </div>
                <small class="msg-time-passed text-secondary"
                  >20 minutes ago</small
                >
              </div>
            </a>
          </li>
          <li class="text-end p-2 w-100 border-bottom">
            <a
              class="chats-list-link w-100 d-flex flex-row-reverse justify-content-start align-items-center"
              href="#"
            >
              <div class="user-img mx-">
                <img
                  src="/images/user-img.webp"
                  alt=""
                />
                <div class="user-status-div"></div>
              </div>
              <div class="user-msg mx-3">
                <div class="user-name">Test</div>
                <div class="user-message text-secondary">
                  Lorem ipsum
                </div>
                <small class="msg-time-passed text-secondary"
                  >20 minutes ago</small
                >
              </div>
            </a>
          </li>
          <li class="text-end p-2 w-100 border-bottom">
            <a
              class="chats-list-link w-100 d-flex flex-row-reverse justify-content-start align-items-center"
              href="#"
            >
              <div class="user-img mx-">
                <img
                  src="/images/user-img.webp"
                  alt=""
                />
                <div class="user-status-div"></div>
              </div>
              <div class="user-msg mx-3">
                <div class="user-name">Test</div>
                <div class="user-message text-secondary">
                  Lorem ipsum
                </div>
                <small class="msg-time-passed text-secondary"
                  >20 minutes ago</small
                >
              </div>
            </a>
          </li>
          <li class="text-end p-2 w-100 border-bottom">
            <a
              class="chats-list-link w-100 d-flex flex-row-reverse justify-content-start align-items-center"
              href="#"
            >
              <div class="user-img mx-">
                <img
                  src="/images/user-img.webp"
                  alt=""
                />
                <div class="user-status-div"></div>
              </div>
              <div class="user-msg mx-3">
                <div class="user-name">Test</div>
                <div class="user-message text-secondary">
                  Lorem ipsum
                </div>
                <small class="msg-time-passed text-secondary"
                  >20 minutes ago</small
                >
              </div>
            </a>
          </li>
          <li class="text-end p-2 w-100 border-bottom">
            <a
              class="chats-list-link w-100 d-flex flex-row-reverse justify-content-start align-items-center"
              href="#"
            >
              <div class="user-img mx-">
                <img
                  src="/images/user-img.webp"
                  alt=""
                />
                <div class="user-status-div"></div>
              </div>
              <div class="user-msg mx-3">
                <div class="user-name">Test</div>
                <div class="user-message text-secondary">
                  Lorem ipsum
                </div>
                <small class="msg-time-passed text-secondary"
                  >20 minutes ago</small
                >
              </div>
            </a>
          </li>
        </ul>
      </section>
    </main>

    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/chat.js"></script>
  </body>
</html>
