<!DOCTYPE html>
<html
	lang="fa"
	dir="rtl"
>
	<head>
		<meta charset="UTF-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
		/>
		<link
			rel="stylesheet"
			href="/stylesheets/chat.css"
		/>
		<link
			rel="stylesheet"
			href="/stylesheets/bootstrap.rtl.min.css"
		/>
		<link
			rel="stylesheet"
			href="/stylesheets/animate.css"
		/>
		<title>Chat</title>
	</head>
	<body>
		<main class="main chats-main">
			<section class="chat-container col-lg-9">
				<header>
					<a
						href="chatList.html"
						class="return-btn"
					>
						<i class="bi bi-arrow-left-circle-fill fs-4 text-white fw-bold"></i>
					</a>
					<div
						class="header-container d-flex justify-content-between align-items-center"
					>
						<div class="d-flex justify-content-start align-items-center">
							<h3
								id="currentRoomName"
								class="fw-bold text-white"
							></h3>
							<!-- <div
								id="onlineStatus"
								class="user-status ms-2 rounded-circle bg-danger"
							></div> -->
						</div>
						<!-- <div>
							<a
								href="videoCall.html"
								class="btn videocall-btn d-flex justify-content-center align-items-center"
								><i class="bi me-1 d-flex h-100 bi-camera-video-fill"></i
								><span class="d-none d-md-none d-lg-inline-block">
									تماس تصویری</span
								></a
							>
						</div> -->
					</div>
				</header>
				<section class="chat-list">
					<!--chat background-->
					<div class="chat-background"></div>
					<div id="messageList"></div>
				</section>
				<div
					id="editingMsg"
					class="editing-msg w-100 px-3 py-2 pb-4 align-items-start animate__animated animate__bounceInUp"
				>
					<button
						id="editingMsgClose"
						class="btn btn-close mb-3"
						style="font-size: 12px"
					></button>
					<div class="d-flex w-100 justify-content-center align-items-center">
						<label style="width: 100px">شما: </label>
						<input
							class="form-control mt-2 rounded-pill py-2"
							type="text"
							id="editText"
							disabled
						/>
					</div>
				</div>
				<div
					id="commentMsg"
					class="comment-msg w-100 px-3 py-2 pb-4 align-items-start animate__animated animate__bounceInUp"
				>
					<button
						id="commentMsgClose"
						class="btn btn-close mb-3"
						style="font-size: 12px"
					></button>
					<div class="d-flex w-100 justify-content-center align-items-center">
						<label
							id="commentedName"
							style="width: 100px"
						></label>
						<input
							class="form-control mt-2 rounded-pill py-2"
							type="text"
							id="cmntText"
							disabled
						/>
					</div>
				</div>

				<section
					class="message-send-box w-100 d-flex justify-content-center align-items-center d-none"
					id="inputSection"
				>
					<div
						class="sending-container d-flex justify-content-center align-items-center"
					>
						<input
							id="input"
							type="text"
							class="form-control me-2"
							placeholder="پیام ..."
						/>
						<button
							id="sendButton"
							class="btn message-send-btn mx-2"
						>
							ارسال
						</button>
						<button
							class="btn notclicked btn-danger rounded-circle ms-2 d-flex justify-content-center align-items-center"
							style="width: 38px; height: 38px"
							id="microphoneBtn"
						>
							<i class="bi bi-mic-fill d-flex first-btn"></i>
							<i class="bi bi-soundwave d-flex second-btn"></i>
						</button>
					</div>
				</section>
			</section>
			<section class="chats-show desktop-chat col-lg-3">
				<h1
					style="vertical-align: middle"
					class="chats-list-head mb-0 fw-bold d-flex justify-content-end align-items-center p-2 text-white"
				>
					Chats
				</h1>
				<ul
					id="chat-list"
					class="chats-list d-flex flex-column justify-content-start align-items-end"
				></ul>
			</section>
		</main>
		<script src="/javascripts/bootstrap.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script>
			const jwt_token = "<%= token %>"
			const socket = io("localhost:3000", {
				query: {
					jwt_token,
				},
			})
			const userId = "<%= userId %>"
			const userName = "<%= userName %>"
			const userPhone = "<%= userPhone %>"
			socket.emit("allMyRooms")
		</script>
		<script src="/javascripts/chat.js"></script>
	</body>
</html>
